{%- capture variantJson -%}
   [
      {%- for variant in product.variants -%}
         {{ variant | json }}{%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
   ]
{%- endcapture -%}
{%- capture variantStock -%}
   [
      {%- for variant in product.variants -%}
         {
            "id":{{ variant.id }},
            "stock": {{ variant.inventory_quantity }}
         }{%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
   ]
{%- endcapture -%}
{%- capture addOnProducts -%}
   [
      {%- for addon in product.metafields.vermont.add_on_products.value -%}
         {
            "addOnProduct" : {{ addon | json }}
         }{%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
   ]
{%- endcapture -%}
{%- capture addOnSync -%}
   [
      {%- for variant in product.variants -%}
         {%- assign variantSyncId = "null" -%}
         {%- assign variantSyncPrice = "null" -%}
         {%- if variant.metafields.vermont.liner_sync.value -%}
            {%- assign variantSyncId = variant.metafields.vermont.liner_sync.value.id -%}
            {%- assign variantSyncPrice = variant.metafields.vermont.liner_sync.value.price -%}
         {%- endif -%}
         {
            "variantId": {{ variant.id }},
            "linerId": {{ variantSyncId }},
            "linerPrice": {{ variantSyncPrice }}
         }{%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
   ]
{%- endcapture -%}

{%- capture productJson -%}
   {
      "product": {{ product | json }},
      "variants": {{ variantJson }},
      "variantStock": {{ variantStock }},
      "addOnProducts": {{ addOnProducts }},
      "linerSync": {{ addOnSync }}
   }
{%- endcapture -%}

{% assign current_variant = product.selected_or_first_available_variant %}

<form
   @submit.prevent="onSubmit"
   accept-charset="UTF-8"
   action="/cart/add"
   class="mb-6 shopify-product-form"
   enctype="multipart/form-data"
   id="product-form"
   method="post"
   x-data="product({{ productJson | escape | replace: '"', "'" }})">
   <input
      name="form_type"
      type="hidden"
      value="product"/>
   <input
      name="utf8"
      type="hidden"
      value="✓"/>


   <div
      class="text-2xl uppercase"
      x-text="price.actualPrice">
      {{ current_variant.price | money_without_trailing_zeros }}
   </div>

   <div
      class="my-4">
      <a
      href="#looxReviews "
         class="loox-rating"
         data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></a>
   </div>

   <div
      class="mb-4 text-xl">
      {{ product.metafields.vermont.tagline }}
   </div>

   <div
      class="mb-0.5"
      x-data="{ expanded: false }">
      <button
         @click.prevent="expanded = !expanded"
         class="text-lg font-headline">
         &gt; Product Description
      </button>
      <div
         x-collapse
         x-show="expanded">
         {{ product.description }}
      </div>
   </div>

   <div
      class="mb-2"
      x-data="{ expanded: false }">
      <button
         @click.prevent="expanded = !expanded"
         class="text-lg font-headline">
         &gt; Tech Specs
      </button>
      <div
         x-collapse
         x-show="expanded">
         {{ product.metafields.vermont.tech_specs | newline_to_br }}
      </div>
   </div>


   <div
      class="mt-4 mb-4">
      {%- render 'product-form-variants', current_variant: current_variant -%}

   </div>


   <div
      class="w-32 ">
      {%- render 'product-form-qty' -%}
   </div>


   <input
      type="hidden"
      name="id"
      :value="formData.id"
      value="{{ current_variant.id }}"/>

   <button
      :disabled="disabled"
      class="w-full max-w-sm py-3 mb-2 text-lg text-white uppercase bg-brand font-headline"
      type="submit"
      x-text="button">Add to Cart</button>

   <button
   @click.prevent="sizingGuide = true"
      class="w-full max-w-sm py-3 text-lg text-black uppercase border-2 border-brand hover:text-white hover:bg-brand font-headline">Size Guide</button>

   <template
      x-if="addOnProducts.length > 0">
      <div
         class="mt-4">
         <div
            class="mb-1">Add On</div>
         <div>
            <template
               x-for="addOn in addOnProducts">
               <div>
                  <template x-if="addOn.addOnProduct.handle == 'wool-glove-liner' && liner.linerInfo.linerId">
                     <div
                     class="flex items-center justify-between w-full max-w-sm gap-2 mb-2">
                        <button
                           :class="liner.addLiner ? 'bg-brand border-brand text-white' : 'border-gray-300 text-black'"
                           @click.prevent="addLiner()"
                           class="w-3/4 py-3 text-lg uppercase border-2 hover:border-brand hover:text-white hover:bg-brand font-headline"
                           x-text="addOn.addOnProduct.title"></button>
                           <div :class="liner.addLiner ? 'font-display' : ''">+$<span

                                 x-text="liner.linerInfo.linerPrice / 100"></span>
                           </div>
                     </div>
                  </template>
               </div>
            </template>
            <template
               x-for="addOn in addOnProducts">
               <div>
                  <template x-if="addOn.addOnProduct.handle != 'wool-glove-liner'">
                     <div
                     class="flex items-center justify-between w-full max-w-sm gap-2 mb-2">
                     <button
                        :class="checkAddOns(addOn.addOnProduct.variants[0].id) ? 'bg-brand border-brand text-white' : 'border-gray-300 text-black'"
                        @click.prevent="selectAddon(addOn.addOnProduct.variants[0].id, selectedAddOnProducts, addOn.addOnProduct.variants[0].price)"
                        class="w-3/4 py-3 text-lg uppercase border-2 hover:border-brand hover:text-white hover:bg-brand font-headline"
                        x-text="addOn.addOnProduct.title"></button>
                     <div :class="checkAddOns(addOn.addOnProduct.variants[0].id) ? 'font-display' : ''">+$<span

                           x-text="addOn.addOnProduct.variants[0].price / 100"></span>
                     </div>
                  </div>
                  </template>
               </div>

            </template>
         </div>
      </div>
   </template>

</form>
