{%- capture productJson -%}
   {
      "product": {{ product | json }}
   }
{%- endcapture -%}

{% assign current_variant = product.selected_or_first_available_variant %}

<form
  @submit.prevent="onSubmit"
  accept-charset="UTF-8"
  action="/cart/add"
  class="mb-6 shopify-product-form md:max-w-sm md:mx-auto lg:mx-0 lg:max-w-none "
  enctype="multipart/form-data"
  id="product-form"
  method="post"
  x-data="productRepair({{ productJson | escape | replace: '"', "'" }})"
  x-ref="product_form"
  @unload.window="$refs.product_form.reset()"
>
  <input
    name="form_type"
    type="hidden"
    value="product"
  >
  <input
    name="utf8"
    type="hidden"
    value="✓"
  >

  <div
    class="text-2xl uppercase"
  >
    {{ current_variant.price | money_without_trailing_zeros }}
  </div>

  <div
    class="mb-4 text-xl"
  >
    {{ product.metafields.vermont.tagline }}
  </div>

  <div
    class="mb-1"
    x-data="{ expanded: false }"
  >
    <button
      @click.prevent="expanded = !expanded"
      class="text-lg font-headline"
    >
      &gt; Product Description
    </button>
    <div
      x-collapse
      x-show="expanded"
    >
      {{ product.description }}
    </div>
  </div>

  <div
    class="mb-2"
    x-data="{ expanded: false }"
  >
    <button
      @click.prevent="expanded = !expanded"
      class="text-lg font-headline"
    >
      &gt; Tech Specs
    </button>
    <div
      x-collapse
      x-show="expanded"
    >
      {{ product.metafields.vermont.tech_specs | newline_to_br }}
    </div>
  </div>

  <div class="mb-4">
    <div class="mb-3 form-row">
      <label for="repair_name"></label>
      <input
        type="text"
        name="name"
        id="repair_name"
        class="w-full max-w-sm px-3 py-2 text-black border-2 border-primary placeholder:text-opacity-40"
        required
        placeholder="Name*"
        @keyup="properties['Name'] = $event.target.value"
      >
    </div>
    <div class="mb-3 form-row">
      <label for="repair_email"></label>
      <input
        type="email"
        name="email"
        id="repair_email"
        class="w-full max-w-sm px-3 py-2 text-black border-2 border-primary placeholder:text-opacity-40"
        required
        placeholder="Email Address*"
        @keyup="properties['Email'] = $event.target.value"
      >
    </div>

    <div class="mb-3 form-row">
      <label for="repair_phone"></label>
      <input
        type="text"
        name="phone"
        id="repair_phone"
        class="w-full max-w-sm px-3 py-2 text-black border-2 border-primary placeholder:text-opacity-40"
        required
        placeholder="Phone Number*"
        @keyup="properties['Phone'] = $event.target.value"
      >
    </div>
    <div class="mb-3 form-row">
      <label for="repair_purchase_date"></label>
      <input
        type="text"
        name="date"
        id="repair_purchase_date"
        class="w-full max-w-sm px-3 py-2 text-black border-2 border-primary placeholder:text-opacity-40"
        required
        x-model="date"
        placeholder="When did you purchase your gloves?*"
        @keyup="properties['Date'] = $event.target.value"
      >
    </div>
    <div class="mb-3 form-row">
      <label for="repair_where"></label>
      <input
        type="text"
        3
        name="where"
        id="repair_where"
        class="w-full max-w-sm px-3 py-2 text-black border-2 border-primary placeholder:text-opacity-40"
        placeholder="Where did you purchase your gloves?"
        @keyup="properties['Where did you purchase your gloves?'] = $event.target.value"
      >
    </div>
    <div class="mb-3 form-row">
      <label for="repair_what"></label>
      <textarea
        id="repair_what"
        name="what"
        class="w-full h-32 max-w-sm px-3 py-2 text-black border-2 border-primary placeholder:text-opacity-40"
        placeholder="What happened / What’s wrong with them?"
        @keyup="properties['What happened / What’s wrong with them?'] = $event.target.value"
      ></textarea>
    </div>
  </div>

  <input type="file" id="imageInput" accept="image/*" x-ref="imageInput" style="display: none;" @change="uploadImage">
  <label
    for="imageInput"
    :class="{ 'disabled': uploading }"
    x-show="!imageUrl"
    class="inline-block w-full max-w-sm px-4 py-3 mb-2 text-lg text-center uppercase transition-all duration-200 ease-in-out bg-white border-2 cursor-pointer text-brand border-brand hover:text-white hover:bg-brand font-headline"
  >
    <span x-text="buttonText" x-show="!uploading"></span>
    <span x-show="uploading" class="inline-flex items-center animate-pulse">
      <span>Uploading</span>
    </span>
  </label>

  <p class="max-w-sm mb-4" x-show="imageUrl">
    <img :src="imageUrl" alt="Uploaded Image" class="w-full">
  </p>

  <button
    class="w-full max-w-sm py-3 mb-2 text-lg uppercase bg-white border-2 cursor-pointer border-brand hover:text-white hover:bg-brand text-brand font-headline"
    type="submit"
    x-show="imageUrl"
    @click.prevent="imageUrl = null;this.properties['image_url'] = null"
  >
    Remove Image
  </button>

  <input
    type="hidden"
    name="quantity"
    value="1"
  >

  <input
    type="hidden"
    name="id"
    :value="formData.id"
    value="{{ current_variant.id }}"
  >

  <button
    :disabled="disabled"
    class="w-full max-w-sm py-3 mb-2 text-lg text-white uppercase bg-brand font-headline"
    type="submit"
    x-text="button"
  >
    Add to Cart
  </button>
</form>
