{%- capture productJson -%}
   {
                  "product":
   {{ product | json }},
                  "variants": [
   {%- for variant in product.variants -%}
      {{ variant | json }}
      {%- unless forloop.last -%},
      {%- endunless -%}
   {%- endfor -%}
   ],
                  "variantStock": [
   {%- for variant in product.variants -%}
      {
                     "id":{{ variant.id }},
                     "stock":
      {{ variant.inventory_quantity }}
      }
      {%- unless forloop.last -%},
      {%- endunless -%}
   {%- endfor -%}
   ],
         "addOnProducts": [
   {%- for block in section.blocks -%}
      {%- if block.type == "add_on_product" -%}
         {%- assign addOnProduct = all_products[block.settings.product] -%}
         {
                                       "addOnProduct" :
         {{ addOnProduct | json }}
         }
         {%- unless forloop.last -%},
         {%- endunless -%}
      {%- endif -%}
   {%- endfor -%}
   ]
         }
{%- endcapture -%}

<script>
   const productJson_{{ product.id }} = {{ productJson }};
</script>

{% assign current_variant = product.selected_or_first_available_variant %}

<form
   @submit.prevent="onSubmit"
   accept-charset="UTF-8"
   action="/cart/add"
   class="mb-6 shopify-product-form"
   enctype="multipart/form-data"
   id="product-form"
   method="post"
   x-data="product(productJson_{{ product.id }})">
   <input
      name="form_type"
      type="hidden"
      value="product"/>
   <input
      name="utf8"
      type="hidden"
      value="✓"/>


   <div
      class="text-2xl uppercase"
      x-text="price.actualPrice">
      {{ current_variant.price | money_without_trailing_zeros }}
   </div>

   <div
      class="my-4">
      <div
         class="loox-rating"
         data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
   </div>

   <div
      class="mb-4 text-xl">
      Our flagship goat leather work glove.
   </div>

   <div
      class="mb-0.5"
      x-data="{ expanded: false }">
      <button
         @click.prevent="expanded = !expanded"
         class="text-lg font-headline">
         &gt; Product Description
      </button>
      <div
         x-collapse
         x-show="expanded">
         {{ product.description }}
      </div>
   </div>

   <div
      class="mb-2"
      x-data="{ expanded: false }">
      <button
         @click.prevent="expanded = !expanded"
         class="text-lg font-headline">
         &gt; Tech Specs
      </button>
      <div
         x-collapse
         x-show="expanded">
         {{ product.description }}
      </div>
   </div>


   <div
      class="mt-4 mb-4">
      {%- render 'product-form-variants', current_variant: current_variant -%}

   </div>


   <div
      class="w-32 ">
      {%- render 'product-form-qty' -%}
   </div>


   <input
      type="hidden"
      name="id"
      :value="formData.id"
      value="{{ current_variant.id }}"/>

   <button
      :disabled="disabled"
      class="w-full max-w-sm py-3 mb-2 text-lg text-black uppercase bg-tertiary font-headline"
      type="submit"
      x-text="button">Add to Cart</button>

   <button
      class="w-full max-w-sm py-3 text-lg text-black uppercase border border-tertiary hover:bg-tertiary font-headline">Size Guide</button>


   <template
      x-if="addOnProducts.length > 0">
      <div
         class="mt-4">
         <div
            class="mb-1">Add On</div>
         <div>
            <template
               x-for="addOn in addOnProducts">
               <div
                  class="flex items-center justify-between w-full max-w-sm gap-2 mb-2">
                  <button
                     :class="checkAddOns(addOn.addOnProduct.variants[0].id) ? 'bg-tertiary' : ''"
                     @click.prevent="selectAddon(addOn.addOnProduct.variants[0].id, selectedAddOnProducts, addOn.addOnProduct.variants[0].price)"
                     class="w-3/4 py-3 text-lg text-black uppercase border border-gray-300 hover:bg-tertiary font-headline"
                     x-text="addOn.addOnProduct.title"></button>
                  <div>+$<span
                        x-text="addOn.addOnProduct.variants[0].price / 100"></span>
                  </div>
               </div>
            </template>
         </div>
      </div>
   </template>

</form>
