<div
   class="relative flex flex-col items-center justify-center px-4  w-full h-mobile-fullscreen lg:h-auto lg:aspect-[var(--ratio)]"
   style="--primary:{{ section.settings.primary_color }};--secondary:{{ section.settings.secondary_color }};--ratio:{{ section.settings.ratio }}/100;">

   {%- if section.settings.video_url -%}
      <video src="{{ section.settings.video_url }}" fullscreen autoplay playsinline muted loop class="w-full h-full absolute object-cover z-[-1]"></video>
   {%- else -%}

   {% if section.settings.mobile_image %}
      {{ section.settings.image | image_url: width: 2000 | image_tag: width: nil, class: 'w-full h-full absolute hidden lg:block object-cover z-[-1]' }}
      {{ section.settings.mobile_image | image_url: width: 2000 | image_tag: width: nil, class: 'w-full h-full absolute lg:hidden object-cover z-[-1]' }}
   {% else %}
      {{ section.settings.image | image_url: width: 2000 | image_tag: width: nil, class: 'w-full h-full absolute object-cover z-[-1]' }}
   {% endif %}
   {%- endif -%}



   <div
      class="text-3xl lg:text-5xl  lg:text-center text-[color:var(--primary)] font-display mb-4 lg:mb-6">
      {{ section.settings.title | newline_to_br }}
   </div>

   {% if section.blocks.size > 0 %}
      <div
         class="flex flex-col w-full lg:flex-row lg:justify-center">
         {% for block in section.blocks %}
            <div
               class="w-5/6 mb-2 lg:mx-2 lg:w-auto lg:mb-0">
               {%- render 'button', url: block.settings.button_url, text: block.settings.button_text, size: "m" -%}
            </div>
         {% endfor %}
      </div>
   {% endif %}

</div>


{% schema %}
{
   "name": "Call to Action",
   "settings": [
      {
         "type": "textarea",
         "id": "title",
         "label": "Title"
      },
     {
        "type": "color",
        "id": "primary_color",
        "label": "Primary Color",
        "default": "#452C80"
     },
     {
      "type": "color",
      "id": "secondary_color",
      "label": "Secondary Color",
      "default": "#ffffff"
   },
   {
      "type": "paragraph",
      "content": "This section will prioritize video. If you want to use an image instead of video remove the video url."
   },
   {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
   },
   {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
   },
   {
      "type": "url",
      "id": "video_url",
      "label": "Video URL"
   },
   {
      "type": "checkbox",
      "id": "full",
      "label": "Full Width",
      "default": true
   },
   {
      "type": "number",
      "id": "ratio",
      "label": "Ratio",
      "info": "Choose a ratio for the section, default is 250/100",
      "default": 250
    }
   ],
   "blocks": [
         {
            "name": "Button",
            "type": "button",
            "settings": [
            {
               "type": "text",
               "id": "button_text",
               "label": "Button Text"
            },
            {
               "type": "url",
               "id": "button_url",
               "label": "Button URL"
            }
            ]
         }
      ],
      "presets": [
         {
            "name": "Call to Action"
         }
      ]
}
{% endschema %}