{{ 'component-featured-products.css' | asset_url | stylesheet_tag }}
<script
   src="{{- 'component-featured-products.js' | asset_url -}}" defer></script>

<div
   class="container flex items-center py-6 mx-auto my-10 place-content-center lg:my-20 lg:h-auto lg:block ">

   <div
      class="relative w-full">
      <h2
         class="mb-8 text-3xl text-center uppercase font-headline">
         {{ section.settings.title }}
      </h2>

      <div
         class="flex items-center featured-slider">

         <div
            class="flex-1 min-w-0 ">
            <div
               class="relative min-w-0 px-10 overflow-hidden ">
               <div
                  class=" swiper"
                  style="--swiper-theme-color:#452C80">
                  <div
                     class="swiper-wrapper">
                     {% for block in section.blocks %}
                        {%- assign featureProduct = all_products[block.settings.product] -%}
                        <div
                           class="h-auto swiper-slide">
                           <a
                              href="{{ featureProduct.url }}" title="{{ featureProduct.title }}" class="block pb-10 group">
                              <div
                                 class="aspect-[437/546] mb-2 relative">
                                 {% if block.settings.image %}
                                    {{ block.settings.image | image_url: width: 2000 | image_tag: width: nil, class: 'w-full h-full object-contain     absolute group-hover:hidden' }}
                                 {% else %}
                                    {{ featureProduct.featured_image | image_url: width: 2000 | image_tag: width: nil, class: 'w-full h-full  absolute   group-hover:hidden  object-contain' }}
                                 {% endif %}

                                 {% if block.settings.rollover_image %}
                                    {{ block.settings.image | image_url: width: 2000 | image_tag: width: nil, class: 'w-full h-full object-contain     absolute group-hover:block hidden' }}
                                 {% else %}
                                    {{ featureProduct.images[1] | image_url: width: 2000 | image_tag: width: nil, class: 'w-full h-full  absolute   group-hover:block hidden  object-contain' }}
                                 {% endif %}
                              </div>
                              <div
                                 class="mb-2 text-xl text-center uppercase font-headline">
                                 {{ featureProduct.title }}
                              </div>
                              <div
                                 class="mb-2 text-center">
                                 {{ featureProduct.price | money_with_currency }}
                              </div>
                              <div
                                 class="text-sm text-center">
                                 {{ block.settings.tagline }}
                              </div>
                           </a>
                        </div>
                     {% endfor %}
                  </div>

                  <div
                     class="md:hidden">
                     <div
                        class="swiper-pagination"></div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>

</div>


{% schema %}
{
   "name": "Featured Products",
   "settings": [
      {
         "type": "textarea",
         "id": "title",
         "label": "Title"
      }
   ],
   "blocks": [
         {
            "name": "Product",
            "type": "product",
            "settings": [
               {
                  "type": "product",
                  "id": "product",
                  "label": "Product"
               },
               {
                  "type": "text",
                  "id": "tagline",
                  "label": "Tagline"
               },
               {
                  "type": "image_picker",
                  "id": "image",
                  "label": "Image"
               }
               ,
               {
                  "type": "image_picker",
                  "id": "rollover_image",
                  "label": "Rollover Image"
               }
            ]
         }
      ],
      "presets": [
         {
            "name": "Featured Products"
         }
      ],
      "templates": ["index"]
}

{% endschema %}