<header
   class="fixed z-40 w-full"
   id="header"
   style="--header-color:{{ section.settings.text_coloe }};--header-bg:{{ section.settings.bg_color }}">

   {%- render 'header-top-bar' -%}

   <div
      class="flex items-center justify-between px-6 transition-all duration-500 bg-white h-28 md:h-32 text-brand header-container">
      <div
         class="w-1/6 md:hidden">
         <button
            @click="navOpen = !navOpen"
            class="relative flex flex-col justify-between h-7 w-9">
            <div
               :class="navOpen ? 'opacity-0' : ''"
               class="h-[1px] bg-brand w-full"></div>
            <div
               :class="navOpen ? '-rotate-45 origin-center' : ''"
               class="h-[1px] bg-brand w-full "></div>
            <div
               :class="navOpen ? 'rotate-45 origin-center opacity-100' : ''"
               class="h-[1px] bg-brand w-full absolute top-1/2 -translate-y-1/2 left-0 opacity-0"></div>
            <div
               :class="navOpen ? 'opacity-0' : ''"
               class="h-[1px] bg-brand w-full"></div>
         </button>

      </div>
      <div
         class="hidden text-xl uppercase md:flex md:w-1/3 font-headline">
         {% for link in linklists.desktop_left_nav.links %}
            <a
               href="{{ link.url }}" title="{{ link.title }}" class="mr-16 last:mr-0">{{ link.title }}</a>
         {% endfor %}
      </div>
      <div
         class="flex items-center justify-center w-2/3 md:w-1/3">
         <a
            href="/"
            title="{{ shop.name }}" class="absolute w-24 transition-all duration-500 md:w-32 text-brand logo">
            {%- render 'svg-logo' -%}
         </a>

         <a
            href="/"
            title="{{ shop.name }}" class="absolute w-56 transition-all duration-500 opacity-0 pointer-events-none text-brand logotype">
            {%- render 'svg-logotype' -%}
         </a>
      </div>
      <div
         class="flex justify-end w-1/6 md:w-1/3">

         <a
            @click.prevent="cartOpen = true"
            class="relative flex items-center justify-center w-6 text-xs text-brand"
            href="/cart"
            title="Cart">
            {%- render 'svg-bag' -%}

            <span
               class="absolute font-bold bottom-1"
               id="cart-count"
               x-text="cartCount">
               {{ cart.item_count }}
            </span>
         </a>


      </div>
   </div>
</header>

{% schema %}

{
"name": "t:sections.header.name",
"settings": [
   {
      "type": "checkbox",
      "id": "top_bar",
      "label": "Top Bar Active",
      "default": true
   },
   {
      "type": "richtext",
      "id": "text",
      "label": "Text"
   },
   {
      "type": "color",
      "id": "text_coloe",
      "label": "Text Color",
      "default": "#ffffff"
   },
   {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#82CDBB"
   }
]
}

{% endschema %}