<div
   class="lg:aspect-[192/52] relative flex items-center text-[color:var(--color)] mb-4 lg:mb-8"
   style="--color:{{ section.settings.color }};">

   <div
      class="grid grid-cols-12 pt-20 pb-10 leading-tight">
      <div
         class="col-span-12 px-4 lg:col-start-3 lg:col-span-8">
         <div
            class="mb-4 text-3xl uppercase md:text-4xl font-display">
            {{ section.settings.title | newline_to_br }}
         </div>
         <div
            class="md:text-lg ">
            {{ section.settings.text | newline_to_br }}
         </div>
      </div>
   </div>

   {{ section.settings.image | image_url: width: 2000 | image_tag: width: nil, class: 'w-full absolute object-cover
  left-0 pointer-events-none h-full top-0 -z-10' }}

</div>

<div
   class="container relative gap-5 px-4 mx-auto lg:grid lg:grid-cols-12">

   <div
      class="lg:sticky lg:block hidden col-span-2 lg:pt-12 lg:top-[var(--header-height)] lg:self-start">
      <div
         class="hidden mb-2 border-b border-black lg:block font-headline">
         Categories
      </div>
      <ul
         class="text-xs">
         {% for block in section.blocks %}
            {%- assign col = collections[block.settings.collection] -%}

            <li
               class="mb-1">
               <a
                  href="#{{ col.handle }}">{{ col.title }}</a>
            </li>
         {% endfor %}
      </ul>

   </div>

   <div
      class="sticky z-10 self-start lg:hidden top-[calc(var(--sizes-mobile-header)+36px)] bg-white"
      x-data="{open: false}">
      <button
         @click="open = !open"
         class="flex items-center gap-2">
         <div
            class="w-4 text-black">
            {%- render 'svg-filter' -%}
         </div>
         <div
            class="text-sm uppercase">
            Filter
         </div>
      </button>
      <ul
         :class="open ? 'block' : 'hidden'"
         class="absolute pt-2 text-xs bg-white group top-full">
         {% for block in section.blocks %}
            {%- assign col = collections[block.settings.collection] -%}

            <a
               @click="open = false"
               class="block px-2 py-2 border-b border-black first:border-t"
               href="#{{ col.handle }}">{{ col.title }}</a>
         {% endfor %}
      </ul>
   </div>

   <div
      class="col-span-9">
      {% for block in section.blocks %}
         {%- assign col = collections[block.settings.collection] -%}
         <div
            id="{{ col.handle }}" class="mb-8 scroll-m-44 ">

            <div
               class="mb-4 text-2xl font-headline">
               {{ col.title }}
            </div>
            <div
               class="grid grid-cols-2 gap-5 lg:grid-cols-3">
               {% for item in col.products %}
                  <a
                     href="{{ item.url }}" title="{{ item.title }}" class="block group">
                     <div
                        class="aspect-[437/542] relative">
                        {% if item.tags contains 'new' %}
                           <div
                              class="absolute right-0 z-10 w-12">
                              <img
                                 src="{{ 'new-badge.png' | asset_img_url: '84x' }}" alt="New"
                                 class="w-full" loading="lazy">
                           </div>
                        {% endif %}



                        {% if item.images[1] %}

                           {{ item.featured_image | image_url: width: 2000 | image_tag: width: nil, class: 'w-full h-full
                        object-contain absolute top-0 group-hover:hidden' }}

                           {{ item.images[1] | image_url: width: 2000 | image_tag: width: nil, class: 'w-full h-full
                        object-contain hidden group-hover:block absolute top-0' }}

                        {% else %}

                           {{ item.featured_image | image_url: width: 2000 | image_tag: width: nil, class: 'w-full h-full
                        object-contain absolute top-0 ' }}

                        {% endif %}

                     </div>
                     <div
                        class="text-center">
                        <div
                           class="text-lg uppercase font-headline">
                           {{ item.title }}
                        </div>

                        <div>{{ item.price | money_without_trailing_zeros }}</div>
                        <div>
                           <div
                              class="loox-rating"
                              data-id="{{ item.id }}" data-rating="{{ item.metafields.loox.avg_rating }}" data-raters="{{ item.metafields.loox.num_reviews }}"></div>
                        </div>
                     </div>
                  </a>
               {% endfor %}
            </div>
         </div>
      {% endfor %}
   </div>

</div>


{% schema %}
{
  "name": "t:sections.collection.name",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "default": "Goat leather work gloves, handmade in Vermont since 1920."
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "A secondary sentence that is optimized for SEO, bots, robots, computer algorithms and first time visitors directed directly to this page."
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "name": "Collection",
      "type": "collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ]
}
{% endschema %}