<div class="bg-[color:var(--bg-color)] text-[color:var(--text-color)]" style="--text-color:{{ section.settings.text_color }};--bg-color:{{ section.settings.bg_color }};">

  <div class="container py-10 mx-auto md:py-20 " >
    <div class="mb-1 text-4xl text-center uppercase font-display">
       {{ section.settings.headline }}
    </div>
    <div class="max-w-4xl mx-auto mb-4 text-3xl text-center uppercase font-headline empty:hidden">{{ section.settings.subhead }}</div>
    <div class="max-w-4xl mx-auto empty:hidden">
       <div class="mb-2 prose max-w-none text-[color:var(--text-color)]">
          {{ section.settings.text }}
       </div>
       {% if section.settings.link_text and section.settings.link %}
       <a href="{{ section.settings.link }}" title="{{ section.settings.link_text }}" class="underline uppercase font-headline">{{ section.settings.link_text }}</a>
       {% endif %}
    </div>
 </div>

</div>

{% schema %}

{
   "name": "Text",
   "settings": [
     {
       "type": "textarea",
       "id": "headline",
       "label": "Headline",
       "default": "Headline"
     },
     {
       "type": "textarea",
       "id": "subhead",
       "label": "Subhead",
       "default": "Subhead"
     },
     {
       "type": "richtext",
       "id": "text",
       "label": "Text",
       "default": "<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>"
     },
     {
       "type": "text",
       "id": "link_text",
       "label": "Link Text",
       "default": "Read More"
     },
     {
       "type": "url",
       "id": "link",
       "label": "Link"
     },
     {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#ffffff"
     },
     {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
     }
   ],
   "presets": [
     {
       "name": "Text"
     }
   ],
   "templates": [
     "page"
   ]
 }

{% endschema %}