<div
  class="bg-[color:var(--bg-color)] text-[color:var(--text-color)]"
  style="--text-color:{{ section.settings.text_color }};--bg-color:{{ section.settings.bg_color }};"
>
  <div class="md:py-10  max-w-5xl px-8 py-10 mx-auto">
    <div class="font-display mb-1 text-4xl text-center uppercase">
      {{ section.settings.headline }}
    </div>
    <div class="font-headline empty:hidden max-w-4xl mx-auto mb-4 text-3xl text-center uppercase">
      {{ section.settings.subhead }}
    </div>
    <div class="empty:hidden max-w-4xl mx-auto">
      <div class="mb-2 prose max-w-none text-[color:var(--text-color)]">
        {{ section.settings.text }}
      </div>
      {% if section.settings.link_text and section.settings.link %}
        <a
          href="{{ section.settings.link }}"
          title="{{ section.settings.link_text }}"
          class="font-headline underline uppercase"
        >
          {{- section.settings.link_text -}}
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Text",
  "settings": [
    {
      "type": "textarea",
      "id": "headline",
      "label": "Headline",
      "default": "Headline"
    },
    {
      "type": "textarea",
      "id": "subhead",
      "label": "Subhead",
      "default": "Subhead"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text",
      "default": "Read More"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "Text"
    }
  ],
  "templates": ["page", "product"]
}
{% endschema %}
